<!-- header -->
<%- include("../partials/header_admin2") %>
<%- include("../partials/sidebar_admin") %>


<!-- Main Content -->

<!-- Main Content -->
<div class="main-content">
    <%- include("../partials/alerts") %>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Investment Plans</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Plan</th>
                                            <th>Price</th>
                                            <th>Daily Earning</th>
                                            <th>Monthly Earning</th>
                                            <th>Duration</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%  for (let i = 0; i < investments.length; i++ ) { %>
                                        <tr>
                                            <td><%= i + 1 %></td>
                                            <td><%= investments[i].plan %></td>
                                            <td><%= investments[i].%>price</td>
                                            <td><%= investments[i].dailyEarning%></td>
                                            <td><%= investments[i].monthlyEarning%></td>
                                            <td><%= investments[i].duration %></td>
                                            <td>
                                                <a href="/edit/package/<%= investments[i].id %>"
                                                    class="btn btn-primary btn-pill">Edit</a>
                                                <a href="javascript:void(0);" class="btn btn-danger btn-pill"
                                                    onclick="event.preventDefault();
								                        document.getElementById('delete-menu').submit();" style="color: aliceblue;">
                                                    Delete
                                                </a>
                                                <form id="delete-menu" action="/delete/package" method="POST"
                                                    style="display: none;">
                                                    <input type="hidden" name="id" value="<%= investments[i].id %>">
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%- include("../partials/footer") %>